@font-face {
    font-family: "Poppins";
    src: url("Fonts/Poppins-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url("Fonts/Poppins-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("Fonts/Poppins-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Poppins";
    src: url("Fonts/Poppins-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Beyond Infinity";
    src: url("Fonts/Beyond Infinity - Demo.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Bahnschrift";
    src: url("Fonts/Bahnschrift.ttf");
    font-weight: normal;
}
